MONAD_RPC_URL=your_monad_mainnet_rpc_url
ADMIN_PRIVATE_KEY=your_current_admin_private_key_without_0x
OPERATOR_PRIVATE_KEY=your_secondary_operator_private_key_without_0x
OWNER_PRIVATE_KEY=optional_legacy_admin_key_without_0x
SPENDER_PRIVATE_KEY=optional_legacy_operator_key_without_0x
PRIVATE_KEY=optional_legacy_default_admin_key_without_0x
ETHERSCAN_API_KEY=your_etherscan_api_key
KINGPULSE_ADDRESS=your_mainnet_deployed_contract_address
KINGPULSE_MAINNET_ADDRESS=optional_legacy_mainnet_address_fallback
TREASURY_PRIVATE_KEY=treasury_holder_private_key_without_0x
ECOSYSTEM_PRIVATE_KEY=ecosystem_holder_private_key_without_0x
TEAM_PRIVATE_KEY=team_holder_private_key_without_0x
FUTURE_LIQUIDITY_PRIVATE_KEY=future_liquidity_holder_private_key_without_0x
MARKETING_PRIVATE_KEY=marketing_holder_private_key_without_0x
